<% provide(:title, 'About') %>
<h1>About</h1>
<p id=content>
An Indonesian Post Punk from Jakarta, Indonesia.
This band come from Jakarta, Indonesia with 5 members that studying at University of National Development “Veteran”. <br>
Started from the same liking with The Drums, Zulfikar Aditya Setiawan (Vocal), Wahyurizal Hermanuaji (Bass Guitar), Hazen Mardial (Keyboard), Rinaldi Angga Dwinata (Guitar) and Pandhu (Drum) makes a band on December 2010 named The Parlente.An Indonesian Post Punk from Jakarta, Indonesia.
Their music genre is Post Punk Revival. On this October 2011, they finishing their demo with the title is “You Are The One”. From a little stage by stage, they always covering The Drums and Vampire Weekend’s song for their performance.</p>
