<% provide(:title, 'Music & Video') %>

<h1>Music & Video</h1>

<div id=content>

<h2>Video</h2>
<iframe width="595" height="335" src="http://www.youtube.com/embed/AWwkJjK61ZU?rel=0" frameborder="0" allowfullscreen></iframe>
<hr>
<h2>Music</h2>  
 
<iframe width="100%" height="166" scrolling="no" frameborder="no" 
src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F50637097&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
<br/>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F31614529&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
</div>