// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#panel,#flip
{
text-align:center;
border:2px solid black;
}

#panel
{
display:none;
padding:20px;
font-size: 20px;
text-align:center;
color: white;
line-height:95%;
}

#side
{
opacity: 0.5;

}

#upopen {
  color: #000;  
  font-family: georgia;
  font-style: oblique;
  font-weight: lighter;
  font-size: 60px;
  font-variant: normal;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  word-spacing: 2px;
}

#table
{
border-collapse:collapse;
background-color:rgba(0,0,0,0.2);
}
table, td, th
{
padding:15px;
border:2px solid black;
}



#content
{
float:left;
background-color:rgba(0,0,0,0.4);
border-radius:0px;
border:10px;
padding:15px;
width:600px;
color: #CDCDCD;
}

#hasatu {
color: white
}

#hadua {
color: #EEEEEE;
}


#foto {
float:left;
width:180px;
background-color:rgba(0,0,0,0.3);
padding:10px;
border:10px;

}

#fotoone {
float:left;
width:180px;
height:180px;
background-color:rgba(0,0,0,0.2);
padding:1px;
}